<footer
  class="text-gray-500 bg-white px-4 py-5 max-w-screen-xl mx-auto md:px-8">
  <div class="max-w-lg sm:mx-auto sm:text-center">
    <p class="leading-relaxed mt-2 text-[15px]">
      Thank you for using my TodoList App, 
        I hope you enjoyed your experience, and I will see you next time.
    </p>
  </div>
  <ul
    class="items-center justify-center mt-8 space-y-5 sm:flex sm:space-x-4 sm:space-y-0">
  </ul>
  <div class="mt-8 items-center justify-between sm:flex">
    <div class="mt-4 sm:mt-0">
      &copy; 2024 All rights reserved.
    </div>
    <div class="mt-6 sm:mt-0">
      <ul class="flex items-center space-x-4">

        <li class="w-10 h-10 border rounded-full flex items-center justify-center">
          <a href="#">
            <fa-icon [icon]="faTwitter" class="w-6 h-6 text-blue-400"></fa-icon>
          </a>
        </li>

        <li class="w-10 h-10 border rounded-full flex items-center justify-center">
          <a href="#">
            <fa-icon [icon]="faFacebook" class="w-6 h-6 text-blue-600"></fa-icon>
          </a>
        </li>

        <li class="w-10 h-10 border rounded-full flex items-center justify-center">
          <a href="#">
            <fa-icon [icon]="faTelegram" class="w-6 h-6 text-blue-500"></fa-icon>
          </a>
        </li>

        <li class="w-10 h-10 border rounded-full flex items-center justify-center">
          <a href="#">
            <fa-icon [icon]="faInstagram" class="w-6 h-6 text-pink-500"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
